@model QuizApp.Models.course

@{
    ViewBag.Title = "Add_Course";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="text-align:center;background-color:dimgray">Add_Course</h1>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Course</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.courseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.courseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.courseName, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="overflow:scroll">

    <table class="table table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>

                </tr>
            </thead>
            <tbody>
                @foreach(var item in ViewData["list"] as List<QuizApp.Models.course>)
                {
                    <tr>
                        <td>@item.courseId</td>
                        <td>@item.courseName</td>
                    </tr>
                }
            </tbody>

    </table>

</div>